<p>I added a few scripts written on top of parsecvs to the distribution of parsecvs, which I have been using extensively to convert my RCS histories to Git (no CVS, just plain RCS that I used to control files lying side-byside in a directory).</p>

<p>My use cases are:</p>

<dl>

<dt>parsecvs-as-sidehist</dt><dd>don't touch the current master branch; useful in case you have already something in .git/;<dd>

<dt>parseRCS-indep</dt><dd>put each RCS/* into Git as an independent branch (or--to be more precise-- set of branches); then you can merge their heads if you wish, or pick something in a more compex way;</dd>

<dt>parseRCS-merging-init</dt><dd>like parseRCS-indep, but also merges the hisory roots of the independent files; useful if you need to have the complete set of files as the base for your history.</dd>

</dl>
